<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Create</h1>
	<form method="POST">
		<label>Name</label>
		<input type="text" name="name">
		<br>
		
		<label>Description</label>
		<input type="text" name="description">
		<br>
		
		<label>url</label>
		<input type="url" name="url">
		<br>
		
		<label>Price</label>
		<input type="number" name="price">
		<br>
		
		<input type="submit" value="CREATE">
		<br>
	</form>
</body>
</html>